.alert.alert-warning, .verified {
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px;

  span {
    padding-right: 10px;
  }
}

.alert + form {
  margin-top: 0;
  border-radius: 0 0 2px 2px;
}

.verified {
  color: $leaf;
}

// MVC Errors
.validation-summary-errors {
  ul, li {
    padding: 0;
    margin: 0;
  }

  ul {
    margin-bottom: 10px;
  }

  li {
    list-style-type: none;
    color: red;

    &:before {
      content: "Error: "
    }
  }
}