.alert.alert-warning, .verified {
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px;

  span {
    padding-right: 10px;
  }
}

.alert + form {
  margin-top: 0;
  border-radius: 0 0 2px 2px;
}

.verified {
  color: $leaf;
}

