html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: $cobalt url(../img/bg-body.jpg) no-repeat top left fixed;
  background-size: auto 100%;
  @media (min-width: 800px) {
    background-size: 100% auto;
  }
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: $white;
  min-height: 100%;
  position: relative;
  padding-bottom: 40px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 360px) and (max-width: 430px) {
    width: 320px;
  }
  @media (min-width: 431px) and (max-width: 500px) {
    width: 370px;
  }
  @media (min-width: 501px) {
    width: 400px;
  }
}

a {
  color: $asparagus;
  text-decoration: underline;
  &:hover {
    color: $white;
  }
}





