.input-group-addon-inset + input {
  padding-left: 40px;
}

.input-group-addon.input-group-addon-inset {
  cursor: text;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 10;
  height: 30px;
  width: 30px;
}