.wrapper.select-a-site {
  width: 100%;
}

.all-sites {
  text-align: center;
  position: relative;
  width: 100%;
}

.page-title-wrap {
  h2 {
    color: $white;
    font-family: 'Oswald Light';
    font-size: 22px;
    text-align: left;
    position: absolute;
    top: -55px;
  }
}

.site {
  width: 100%;
  margin: 2%;
  img {
    width: 100%;
  }
  @media (min-width: 480px) {
    width: 46%;
    float: left;
  }
  @media (min-width: 768px) {
    width: 31.25%;
    margin: 1%;
    float: left;
  }
  @media (min-width: 1280px) {
    width: 23%;
    margin: 1%;
    float: left;
  }
}
