// topImport

// endtopImport

// bower:scss
@import "../bower_components/colonial-branding/scss/branding-cla.scss";
// endbower

// import
@import "scss/_color-vars";
// endimport

* {
  transition: all .3s ease-in-out;
}

body {
  background: $cobalt url(../img/bg-body.jpg) no-repeat top left fixed;
  background-size: auto 100%;
  @media (min-width: 800px) {
    background-size: 100% auto;
  }
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: $white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 360px) and (max-width: 430px) {
    width: 320px;
  }
  @media (min-width: 431px) and (max-width: 500px) {
    width: 370px;
  }
  @media (min-width: 501px) {
    width: 400px;
  }
}

.logo {  
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(../img/logo-one-color.svg) no-repeat;
  width: 232px;
  height: 58px;
  margin: 15px auto 20px;
  @media (min-width: 431px) and (max-width: 500px) {
    margin: 30px auto 25px;
  }
  @media (min-width: 501px) {
    margin: 40px auto 35px;
  }
}

a {
  color: $asparagus;
  text-decoration: underline;
  &:hover {
    color: $white;
  }
}

header, footer {
  padding: 0 10px;
  @media (min-width: 431px) {
    padding: 0 20px;
  }
}

header {
  display: block;

  p {
    
  }

  a {
    display: inline-block;
    width: 55%;
    margin: 0;
    text-align: right;
    vertical-align: middle;
    margin-bottom: 2px;
    line-height: 30px;
  }

  h2 {
    color: $white;
    font-family: 'Oswald Light';
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-right: -0.32em; // whitespace fix for disp:inline-block extra whitespace bug
    padding: 0;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    @media (max-width: 360px) {
      font-size: 20px;
    }
  }
}

.register {
  vertical-align: middle;
}



form {
  
  width: 100%;
  background: $snow;
  padding: 15px 10px;
  margin: 15px 0 0;
  @media (min-width: 431px) {
    padding: 20px 20px 30px;  // T, RL, B
  }
}

input {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  color: $slate;
  background: $white;
  border: 1px solid $tin;
  padding: 13px 14px;
  z-index: 1;
  &:focus {
    border: 2px solid $leaf;
    z-index: 10;
    padding: 12px 13px;
  }
  &[type='email'] {
    margin: 0;
  }
  &[type='password']{
    margin-top: -2px;
  }
  &[type='email'],
  &[type='password'] {
    position: relative;
    width: 100%;
    height: 50px;
    &:focus { 
      outline-style: none !important;
    }
  }
  &[type='checkbox'] {
    float: left;
    margin: 7px 10px 0;
  }
}

label {
  color: $slate;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 0;
  padding-left: 25px;
  cursor: pointer;
}

label:before {
  // checkbox styling method from http://www.hongkiat.com/blog/css3-checkbox-radio/
  content: "";
  display: inline-block;

  width: 16px;
  height: 16px;

  background-color: #fff;
  border: 2px solid $tin;

  position: absolute;
  bottom: 3px;
  left: 0;
}

input[type=checkbox] {
  display: none; //hide checkbox so we can display a custom styled one instead
  &:checked + label:before {
    content: "\2713";
    color: #fff;
    background-color: $leaf;
    border: 2px solid $leaf;
    position: absolute;
    line-height: 12px;
    text-align: center;
  }
}

.checkbox label:before {
  border-radius: 3px;
}



.check-wrap {
  position: relative;
  padding: 0;
  margin-top: 3px;
  display: inline-block;
  width: 100%;
  @media (min-width: 431px) {
    width: 50%;
    float: left;
    margin-top: 16px;
  }
}

.btn {
  width: 100%;
  height: 50px;
  margin: 20px 0 17px; // .btn class has margin-bottom of 0
  display: inline-block;
  @media (min-width: 431px) {
    width: 140px;
    margin: 10px 0 13px;
  }
}

.btn-leaf {
  border: 1px solid $grass;
  border-bottom: 2px solid $grass;
  &:hover {
    background-color: $grass;
    border: 1px solid $forest;
    border-bottom: 2px solid $forest;
  }
  &:active {
    color: $leaf;
    transition: color 0s;
  }
  &:focus {
    outline-style: none !important;
  }
}

.forgot {
  clear: both;
  a {
    color: $slate;
    display: inline-block;
    width: 50%;
    margin-bottom: 8px;
    @media (min-width: 431px) {
      margin-bottom: 0;
    }
    &:first-child {
      margin-right: -0.32em;
    }
  }
  a:hover {
    color: $charcoal;
  }
}

a.forgot-right {
  text-align: right;
}


footer {
  padding: 15px 20px 20px;
  color: $tin;
  text-align: center;
  @media (min-width: 501px ) {
    padding-top: 25px;
  }

  .copy {
    font-size: 12px;
    margin-top: 30px;
    @media (min-width: 431px) {
      position: absolute;
      bottom: 5px;
      left: 20px;
      text-align: left;
    }
  }
}